@{
    ViewData["Title"] = "Application #1";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            @if (User.Identity.IsAuthenticated)
            {
                <h1 class="mb-4">Welcome, <strong>@User.Identity.Name</strong>! 👋🏼</h1>
                <button class="btn btn-primary mr-2" onclick="location.href='/Home/Logout'">Logout</button>
                <button class="btn btn-success" onclick="location.href='/Dashboard/UserInfo'">Get User Info</button>
                <button class="btn btn-success" onclick="location.href='/Dashboard/GetInventory'">Get Inventory</button>
                <button class="btn btn-success" onclick="location.href='/Dashboard/GetOrders'">Get Orders</button>
            }
            else
            {
                <p class="text-muted">Please login to access this page.</p>
                <button class="btn btn-primary" onclick="location.href='/Home/Login'">Login</button>
                <button class="btn btn-primary" onclick="location.href='/Auth/Silent'">Silent</button>
            }
        </div>
    </div>
</div>
